# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Files / folders to exclude
.vscode/
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.idea/

# Remove all .idea folders and out folders.
**/.idea/
**/out/
**/*.iml

# Ignore .DS_Store files
**/.DS_Store
